/* CSS Custom Properties Definitions */
@import url('https://fonts.googleapis.com/css2?family=Alef&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Hebrew:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-5xl: 62rem;
  --maxWidth-full: "100%";
  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;

  --fontFamily-serif: 'Frank Ruhl Libre', 'Times New Roman', Times, serif;
  --fontFamily-sans: 'Alef', sans-serif;

  --font-body: var(--fontFamily-serif);

  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;
  --fontWeight-extrabold: 800;
  --fontWeight-black: 900;
  --fontSize-root: 22px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  /* 1.200 Minor Third Type Scale */
  --fontSize-tiny: 0.6rem;
  --fontSize-small: 0.7rem;
  --fontSize-0: 0.833rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.2rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --fontSize-7: 2.986rem;

  --color-primary: #402C13;
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
  direction: rtl;
}

html {
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: right;
  height: 100%;
}

body {
  font-family: var(--font-body);
  font-size: var(--fontSize-1);
  color: var(--color-primary);
  /*background: rgb(254,247,231);
  background: radial-gradient(circle, rgba(254,247,231,1) 68%, rgba(246,222,189,1) 100%);*/
}

a {
  text-decoration: none!important;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

ol, ul {
  margin: 0;
}

.global-wrapper {
  padding-top: var(--spacing-16);
  padding-bottom: var(--spacing-32);
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: var(--maxWidth-3xl);
  margin-left: auto;
  margin-right: auto;
}

/* home */ 

.home-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.home-header-logo {
  margin-bottom: var(--spacing-4);
}

.home-header-logo img {
  width: 60px;
}

.home-header-title span {
  font-style: normal;
  font-size: 35px;
}

.written-by {
  font-size: var(--fontSize-small);
  margin-left: 5px;
}

.written-by-name {
  font-size: var(--fontSize-0);
  margin-left: 5px;
}

.seperator {
  font-size: 50px;
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin-top: var(--spacing-6);
  margin-bottom: var(--spacing-12);
}

.table-of-content {
  text-align: center;
}

.category {
  margin-bottom: var(--spacing-16);
}

.category-title {
  font-weight: 500;
  margin-bottom: var(--spacing-6);
}

.post-entry {
  margin-bottom: var(--spacing-2);
}

.post-entry a:hover span {
  border-bottom: 3px solid var(--color-primary);
}

/* side-bar */

.side-bar {
  width: 300px;
}

.content {
  width: 100%;
}

.side-bar .logo {
  margin-bottom: var(--spacing-4);
}

.side-bar .logo img {
  width: 80px;
}

.side-bar .blog-about .blog-title span {
  font-size: var(--fontSize-3);
  font-family: var(--fontFamily-serif);
}

.side-bar .blog-about .blog-topic span {
  font-size: var(--fontSize-1);
}

.side-bar .blog-credit {
  margin-top: var(--spacing-12);
}

.side-bar .blog-credit .written-by span {
  font-size: var(--fontSize-0);
}

.side-bar .blog-credit .author-name span {
  font-size: var(--fontSize-2);
}

/* top-bar */

.top-bar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  max-width: var(--maxWidth-4xl);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--spacing-12);
}

.top-bar .about-blog {
  display: flex;
  flex-direction: row-reverse; /* left */
  
}

.top-bar .about-blog .blog-details {
  margin-right: var(--spacing-4);
  margin-left: var(--spacing-4);
  display: flex;
  flex-direction: column;
  align-self: center;
}

.top-bar .about-blog .blog-details .blog-name {
  font-family: var(--fontFamily-serif);
  font-size: var(--fontSize-2);
  text-align: left; /* left */
}

.top-bar .about-blog .blog-details .blog-topic {
  font-family: var(--fontFamily-sans);
  font-size: var(--fontSize-small);
  text-align: left; /* left */
}

.top-bar .about-blog .logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.top-bar .about-blog .logo img {
  width: 40px;
}

/* posts-list */ 

.posts-list {
  padding: 0px;
}

.posts-list li:not(:last-child) {
  margin-bottom: var(--spacing-16);
}

.posts-list .post {
  max-width: 500px;
  text-align: justify;
  
}

.posts-list .post h2 {
  margin-top: 0px;
  margin-bottom: var(--spacing-2);
  font-size: var(--fontSize-3);
  font-style: normal;
  text-align: center;
}

.posts-list .post h2 a span {
  padding-bottom: 3px;
}

.posts-list .post h2 a:hover span {
  border-bottom: 3px solid var(--color-primary);
}

.posts-list .post p {
  margin: 0px;
  font-size: var(--fontSize-1);
}

/* blog post page */ 

.article-wrapper {
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--maxWidth-md);
  line-height: 38px;
}

blockquote {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 350px;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-12);
}

blockquote p {
  font-style: italic;
  text-align: justify;
  align-self: center;
}

blockquote p:last-of-type {
  text-align: left;
  align-self: flex-end;
  margin-top: var(--spacing-4);
}

.post-header h1 {
  font-size: 45px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Times New Roman';
  font-weight: 500;
  text-align: center;
  font-style: italic;
}

.article-wrapper h3 {
  font-size: 28px;
  text-align: center;
  margin-top: var(--spacing-12);
}

.post-body {
  font-size: var(--fontSize-1);
  text-align: justify;
  font-family: var(--fontFamily-serif);
}

.post-body p {
  margin: 0px;
}

.post-body p:not(:first-child) {
  text-indent: 35px;
}

/* others */

.come-again {
  text-align: center;
  position: fixed;
  top: 20%;
  right: 0;
  left: 0;
}

.spacer16 {
  height: var(--spacing-16);
}
